<a href="https://colab.research.google.com/github/satishgunjal/Python/blob/master/pandas/1_intro/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# If your are running the Jupyter notebook locally then use below code to load the file
#df = pd.read_csv('your file path')
#df

**Uploading files from your local file system**

`files.upload` returns a dictionary of the files which were uploaded.
The dictionary is keyed by the file name and values are the data which were uploaded.

'files.upload()' will enable to browse and select the file from local folder

In [9]:
from google.colab import files

uploaded = files.upload()

Saving nyc_weather.csv to nyc_weather.csv

In [10]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "nyc_weather.csv" with length 1368 bytes

Now if we print the dictionary object 'uploaded' then it will print raw data from file. where key is file name and value is data from file

In [11]:
uploaded

{'nyc_weather.csv': b'EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees\n1/1/2016,38,23,52,30.03,10,8,0,5,,281\n1/2/2016,36,18,46,30.02,10,7,0,3,,275\n1/3/2016,40,21,47,29.86,10,8,0,1,,277\n1/4/2016,25,9,44,30.05,10,9,0,3,,345\n1/5/2016,20,-3,41,30.57,10,5,0,0,,333\n1/6/2016,33,4,35,30.5,10,4,0,0,,259\n1/7/2016,39,11,33,30.28,10,2,0,3,,293\n1/8/2016,39,29,64,30.2,10,4,0,8,,79\n1/9/2016,44,38,77,30.16,9,8,T,8,Rain,76\n1/10/2016,50,46,71,29.59,4,,1.8,7,Rain,109\n1/11/2016,33,8,37,29.92,10,,0,1,,289\n1/12/2016,35,15,53,29.85,10,6,T,4,,235\n1/13/2016,26,4,42,29.94,10,10,0,0,,284\n1/14/2016,30,12,47,29.95,10,5,T,7,,266\n1/15/2016,43,31,62,29.82,9,5,T,2,,101\n1/16/2016,47,37,70,29.52,8,7,0.24,7,Rain,340\n1/17/2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345\n1/18/2016,25,6,53,29.83,9,12,T,2,Snow,293\n1/19/2016,22,3,42,30.03,10,11,0,1,,293\n1/20/2016,32,15,49,30.13,10,6,0,2,,302\n1/21/2016,31,11,45,30.15,10,6,0,1,,312\n1/22/2016,26,6,41,30.21,9,,0.01,3,Snow,34\n1/23/2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42\n1/24/2016,28,11,53,29.92,8,6,T,3,Snow,327\n1/25/2016,34,18,54,30.25,10,3,0,2,,286\n1/26/2016,43,29,56,30.03,10,7,0,2,,244\n1/27/2016,41,22,45,30.03,10,7,T,3,Rain,311\n1/28/2016,37,20,51,29.9,10,5,0,1,,234\n1/29/2016,36,21,50,29.58,10,8,0,4,,298\n1/30/2016,34,16,46,30.01,10,7,0,0,,257\n1/31/2016,46,28,52,29.9,10,5,0,0,,241\n'}

Now use below code to load the file from dictionary object to pandas dataframe

In [14]:
import io

df = pd.read_csv(io.StringIO(uploaded['nyc_weather.csv'].decode('utf-8')))
df

          EST  Temperature  DewPoint  ...  CloudCover    Events  WindDirDegrees
0    1/1/2016           38        23  ...           5       NaN             281
1    1/2/2016           36        18  ...           3       NaN             275
2    1/3/2016           40        21  ...           1       NaN             277
3    1/4/2016           25         9  ...           3       NaN             345
4    1/5/2016           20        -3  ...           0       NaN             333
5    1/6/2016           33         4  ...           0       NaN             259
6    1/7/2016           39        11  ...           3       NaN             293
7    1/8/2016           39        29  ...           8       NaN              79
8    1/9/2016           44        38  ...           8      Rain              76
9   1/10/2016           50        46  ...           7      Rain             109
10  1/11/2016           33         8  ...           1       NaN             289
11  1/12/2016           35        15  ...           4       NaN             235
12  1/13/2016           26         4  ...           0       NaN             284
13  1/14/2016           30        12  ...           7       NaN             266
14  1/15/2016           43        31  ...           2       NaN             101
15  1/16/2016           47        37  ...           7      Rain             340
16  1/17/2016           36        23  ...           6  Fog-Snow             345
17  1/18/2016           25         6  ...           2      Snow             293
18  1/19/2016           22         3  ...           1       NaN             293
19  1/20/2016           32        15  ...           2       NaN             302
20  1/21/2016           31        11  ...           1       NaN             312
21  1/22/2016           26         6  ...           3      Snow              34
22  1/23/2016           26        21  ...           8  Fog-Snow              42
23  1/24/2016           28        11  ...           3      Snow             327
24  1/25/2016           34        18  ...           2       NaN             286
25  1/26/2016           43        29  ...           2       NaN             244
26  1/27/2016           41        22  ...           3      Rain             311
27  1/28/2016           37        20  ...           1       NaN             234
28  1/29/2016           36        21  ...           4       NaN             298
29  1/30/2016           34        16  ...           0       NaN             257
30  1/31/2016           46        28  ...           0       NaN             241

[31 rows x 11 columns]

**Q1: What is the maximum temperature?**

In [15]:
df['Temperature'].max()

50

**Q2: Retreive the dates on which It had rained**   
    Here 'EST' is date column and 'Events' column contains different events like Rain, Snow etc

In [17]:
df['EST'][df['Events']== 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

**Q3: What is the average windspeed?**                                          
Note here some of the rows of column 'WindSpeedMPH' contain 'NaN' values which will affect the avaerage

In [18]:
df['WindSpeedMPH'].mean()

6.892857142857143

Now replace the 'NaN' with 0 to get the correct average

In [19]:
df.fillna(0,inplace=True) # Here 'inplace = True' to update same dataframe
df['WindSpeedMPH'].mean()

6.225806451612903