<a href="https://colab.research.google.com/github/satishgunjal/Python/blob/master/01_Learning/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

*   A set is an unordered collection data type with no duplicate elements
*   Sets are commonly used for membership testing, removing duplicates entries, and also for operations such as intersection, union, and set difference.

## How to create sets

In [32]:
setA = set() # creating empty set
print(type(setA))
print(setA)

<class 'set'>
set()

In [18]:
#Creating a set with a string
setA = set("somestring") 
setA # notice below there is no duplicate character

{'e', 'g', 'i', 'm', 'n', 'o', 'r', 's', 't'}

In [19]:
#Creating set with list
setA = set(['C','C++','Python'])
setA

{'C', 'C++', 'Python'}

In [33]:
#Creating a set with list of a number
setA = set([1,1,2,2,3,3,4,4,5,5,6,6])
setA # notice set wont have duplicate numbers

{1, 2, 3, 4, 5, 6}

## Methods to change a set

### How to add elements to a set

In [34]:
# Adding an element to a set
setA.add(7)
setA

{1, 2, 3, 4, 5, 6, 7}

In [35]:
#Adding a tuple to a set
setA.add((8,9))
setA

{(8, 9), 1, 2, 3, 4, 5, 6, 7}

**NOTEL:** Using add, elements can be added but not another iterable like set, list, or tuple. Update can be used to add iterable or iterables of hashable elements

In [37]:
#adding alist with element 10 and 11 to a set
setA.update([10,11]) # Instead of 'update' if you use 'add' it will give an error
setA

TypeError: ignored

In [38]:
#Similarly you can update alist and new set in setA
setA.update([12,13],{14,15})
setA

{(8, 9), 1, 10, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 7}

### Methods to remove elements from a set

**NOTE:** Both discard and remove take a single argument, the element to be deleted from the set. If the value is not present, discard() does not do anything. Whereas, remove will raise a KeyError exception

In [40]:
setA.discard(7)
setA

{(8, 9), 1, 10, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6}

In [42]:
setA.remove(10)
setA

{(8, 9), 1, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6}

### Other useful set method

In [44]:
shallow_copy_of_setA =setA.copy()
shallow_copy_of_setA
#Note: Instaed of copy if we use assignment here then it will create anpointer to existing set.

{(8, 9), 1, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6}

In [45]:
#Removing all the elements froma set
shallow_copy_of_setA.clear()
shallow_copy_of_setA

set()

In [47]:
#Removing arbitaryu/random element from set
setA.pop()
setA

{(8, 9), 11, 12, 13, 14, 15, 2, 3, 4, 5, 6}

In [48]:
#pop raises the KeyError if set is empty
shallow_copy_of_setA.pop()

KeyError: ignored

## Set operations

set.intersection() > returns element present in both the sets. This can also be achived using ampersand operator (&)

In [49]:
#create a new set
setB = set([1, 2, 3, 4, 5, 10, 15, 22])
setB

{1, 2, 3, 4, 5, 10, 15, 22}

In [51]:
#Create anew set from setA and setB
setC = setA & setB
setC

{2, 3, 4, 5, 15}

In [52]:
#We will get same results using intersection method
setC =setA.intersection(setB)
setC

{2, 3, 4, 5, 15}

In [53]:
#Print a new set with values present in setA but not in setB
setA.difference(setB)

{(8, 9), 11, 12, 13, 14, 6}

In [56]:
#Also we can use '-' operator to find the difference between two sets
setDiff = setA - setB
setDiff

{(8, 9), 11, 12, 13, 14, 6}

##n Other set operations

In [59]:
#isdisjoint() returns 'true' if intersection of set is empty otherwise 'fasle
print(setA.isdisjoint(setB))
# Create new set
setD = set([99,100])
print(setA.isdisjoint(setD))

False
True

In [61]:
# Update setA by removing all elements present in setB fromsetA
setA.difference_update(setB)
setA

{(8, 9), 11, 12, 13, 14, 6}

In [0]:
# Similarly, setA.intersection_update(setB) removes elements from setA which are not present in the intersection set of setA and setB

issubset() and issuperset() setA.issubset(setB) returns True if setA is subset of setB, False if not. “<=” operator can be used to test for issubset. To check for proper subset “<” is used

In [62]:
# check if setA is subset of setB
setA.issubset(setB)

False

In [63]:
#check if setB is subset of setA
setB.issubset(setA)

False